@media screen and (max-width: 1024px){
    #menu {
        font-size: 1.5vh;
    }

    /* Menu Page CSS */
    .menu_page_main_content {
        flex-direction: column-reverse;
    }

    .menu_page_main_content {
        height: 90%;
        width: 100%;
    }

    .menu_page_main_content_videos {
        width: 100%;
        height: 60%;
    }

    .menu_page_main_content_menuitems {
        width: 100%;
        height: 40%;
    }

    .menu_page_main_content_menuitems1 ul li a {
        font-size: 3vh;
    }
    
    /* Menu Page CSS */
    .main_content{
        width: 85%;
        height: 80%;
    }

    .name_box{
        /* width: 60%; */
        width: fit-content;
    }

    .name_box h1 {
        font-size: 7.5vh;
    }

    .planet_svg {
        height: 33px;
    }

    .greeting_text {
        font-size: 5vh;
    }

    .page3_content{
        flex-direction: column-reverse;
    }

    .page3_content_text{
        width: 90%;
        height: 55%;
        justify-content: center;
    }

    .page3_content_video{
        width: 100%;
        height: 90%;
    }

    .page3_content_text_innerbox{
        padding-bottom: 25px;
    }

    .page3_content_text_innerbox h4 {
        font-size: 1.55vh;
    }

    .page4_box{
        flex-direction: column;
    }

    .page4_box_text{
        width: 90%;
        height: 40%;
    }
    .page4_box_text_innerbox{
        width: 100%;
    }

    .page4_box h4 {
        font-size: 1.3vh;
    }

    .page4_box_text h4{
        font-family: inter;
        font-size: 1.55vh;
        font-weight: 500;
    }

    .page4_box_video{
        width: 100%;
        height: 60%;
    }
    
    /* videos.html page videos */
    .page1_video {
        width: 95%;
    }
    /* videos.html page videos ends */

    .page1_video i {
        font-size: 4vh;
    }

    #craft_story{
        font-size: 12vh;
    }
    
  }


  @media screen and (max-width: 768px){

    .loader h2{
        color: white;
        font-family: inter;
        font-size: 5vh;
    }

    .job_content {
        width: 50%;
    }

    .job_content h3 {
        font-size: 4.5vw;
        text-align: center;
    }
    
    #job {
        font-size: 4.8vw;
        display: block;
        width: fit-content;
    }

    /* .page4_box h4 {
        font-size: 2.14vh;
    } */
  }

  @media screen and (max-width: 500px){
    .job_content {
        width: 50%;
    }

    .job_content h3 {
        font-size: 4.5vw;
        text-align: center;
    }
    
    #job {
        font-size: 4.8vw;
    }

    .name_box h1 {
        font-size: 5vh;
    }
  }